body {
  font-family: "helvetica", sans-serif;
  text-align: center;
  background-color:#FAEACB;
  background-image: url("../static/images/rottweiler-1785760_1920.jpg");
  opacity: 30%;
}

img {
  border: 5px solid #555;
  width: 400px;
  height: 600px;
  margin-bottom: 5px;
  margin-right: 5px;
}
